# Ignore binary files
*.o
*.a
*.so
*.so.*

# Ignore bin folder
/bin

# Ignore AirNavigator executable file
/release/AirNavigator/AirNavigator

# Ignore lib folder
/release/AirNavigator/lib

# Ignore zip files
*.zip


